@import "../../../../../external/bootstrap/less/bootstrap.less";

@iconSpritePath: "../../../../../external/bootstrap/img/glyphicons-halflings.png";
@iconWhiteSpritePath: "../../../../../external/bootstrap/img/glyphicons-halflings-white.png";

@baseFontSize: 16px;

body {
  background: url('../../../images/bg.png') repeat;
  margin-top: 50px;
}

p {
  line-height: 1.6em;
}

table.pretty {
  .table;
  .table-striped;
  .table-hover;
}

div.note {
  .alert;
}

div.info {
  .alert;
  .alert-info;
}

div.achtung {
  .alert;
  .alert-error;
}

dl.bulleted {
  dt {
    padding-bottom: 10px;
  }

  dd {
    display: list-item;
    list-style-type: disc;
    margin-left: 30px;
    padding-bottom: 10px;
  }
}

footer {
  margin-top: 2em;
  padding-top: 2em;
  padding-bottom: 2em;
  text-align: center;
  font-size: 0.9em;
  border-top: 1px dotted #aaa;

  p {
    padding-bottom: 0.2em;
  }

  img {
    margin-right: 15px;
  }
}

/* Text selection */

::-moz-selection{ background: #36d63d; color:#fff; text-shadow: none; }
::selection { background:#36d63d; color:#fff; text-shadow: none; } 
a:link { -webkit-tap-highlight-color: #36d63d; }
