@import "../../../../../external/bootstrap/less/bootstrap.less";

@iconSpritePath: "../../../../../external/bootstrap/img/glyphicons-halflings.png";
@iconWhiteSpritePath: "../../../../../external/bootstrap/img/glyphicons-halflings-white.png";

@baseFontSize: 16px;

body {
  background: url('../../../images/bg.png') repeat;
}

h1 {
  padding-bottom: 0.5em;
}

h2 {
  padding-bottom: 0.5em;
}

h3 {
  padding-bottom: 0.4em;
}

h4 {
  padding-top: 0.29em;
  padding-bottom: 0.3em;
  color: #999;
}

p {
  padding-bottom: 0.8em;
  line-height: 1.6em;
}

header {
  height: 90px;

  #logo {
    padding-top: 15px;
  }
}

footer {
  margin-top: 2em;
  padding-top: 2em;
  padding-bottom: 2em;
  text-align: center;
  font-size: 0.9em;
  border-top: 1px dotted #aaa;

  p {
    padding-bottom: 0.2em;
  }

  img {
    margin-right: 15px;
  }
}

#logo {
  padding-top: 10px;
}

#maincontainer {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

#maincontent {
  background-color: #fff;
  border-right: 2px solid #d0d0d0;
  border-bottom: 2px solid #d0d0d0;
  padding: 1.5em;
}

/* Text selection */

::-moz-selection{ background: #36d63d; color:#fff; text-shadow: none; }
::selection { background:#36d63d; color:#fff; text-shadow: none; } 
a:link { -webkit-tap-highlight-color: #36d63d; }
