@import "../../../../../external/bootstrap/less/bootstrap.less";

@iconSpritePath: "../../../../../external/bootstrap/img/glyphicons-halflings.png";
@iconWhiteSpritePath: "../../../../../external/bootstrap/img/glyphicons-halflings-white.png";

@baseFontSize: 16px;
@baseLineHeight: 24px;

body {
  background: url('../../../images/bg.png') repeat;
  margin-top: 50px;
}

table.pretty {
  .table;
  .table-striped;
  .table-hover;
}

div.note {
  .alert;
}

div.info {
  .alert;
  .alert-info;
}

div.achtung {
  .alert;
  .alert-error;
}

dl.bulleted {
  dt {
    padding-bottom: 10px;
  }

  dd {
    display: list-item;
    list-style-type: disc;
    margin-left: 30px;
    padding-bottom: 10px;
  }
}

footer {
  margin-top: 2em;
  padding-top: 2em;
  padding-bottom: 2em;
  text-align: center;
  font-size: 0.9em;
  border-top: 1px dotted #aaa;

  p {
    padding-bottom: 0.2em;
  }

  img {
    margin-left: 7px;
    margin-right: 7px;
  }
}

/* Text selection */

::-moz-selection{ background: #36d63d; color:#fff; text-shadow: none; }
::selection { background:#36d63d; color:#fff; text-shadow: none; } 
a:link { -webkit-tap-highlight-color: #36d63d; }

/* Twitter Bootstrap Documentation styles */

.example {
  position: relative;
  margin: 15px 0;
  padding: 39px 19px 14px;
  *padding-top: 19px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
}

/* Echo out a label for the example */
.example:after {
  content: "Example";
  position: absolute;
  top: -1px;
  left: -1px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  color: #9da0a4;
  border-radius: 4px 0 4px 0;
}

/* toc */

#toc_trichome {
  position: fixed;
  top: 46px;
  right: 5px;
  z-index: 100;
}

#toc_content {
  position: fixed !important;
  top: 46px !important;
  background-color: #49afcd;
  color: #fff;
  font-size: 0.8em;

  ul {
    list-style-type: none;
    margin-left: 10px;
    padding-left: 0px;

    li {
      line-height: 1.6em;
    }
  }

  a:link, a:visited, a:active {
    color: #fff;
  }
}

/* wally */

#wallyPrevious i {
  margin-right: 5px;
}

#wallyWoof {
  margin-left: 5px;
  margin-right: 5px;
}

#wallyNext i {
  margin-left: 5px;
}
